<p>
  <b>Group:</b>
  <%= group_id %>
</p>

<p>
  <b>Lesson:</b>
  <%= lesson_id %>
</p>

<p>
  <b>Course time:</b>
  <%= course_time_id %>
</p>

<p>
  <b>Teacher:</b>
  <%= teacher_id %>
</p>

<p>
  <b>Room:</b>
  <%= room_id %>
</p>

<p>
  <b>Branch:</b>
  <%= branch_id %>
</p>

<p>
  <b>Monday:</b>
  <%= monday %>
</p>

<p>
  <b>Tuesday:</b>
  <%= tuesday %>
</p>

<p>
  <b>Wednesday:</b>
  <%= wednesday %>
</p>

<p>
  <b>Thursday:</b>
  <%= thursday %>
</p>

<p>
  <b>Friday:</b>
  <%= friday %>
</p>

<p>
  <b>Saturday:</b>
  <%= saturday %>
</p>

<p>
  <b>Sunday:</b>
  <%= sunday %>
</p>


<a href="#/index">Back</a>