<div class="page-header">
  <h1><%= group_name %></h1>
  <%= lesson_name %>
</div>

<div class="form-actions">
    <a href="#index" class="btn btn-small">артка</a>
    <a href="#<%= id %>/attendances/index" class="btn btn-small">жоктомо</a>
    <a href="courses/<%= id %>/tests" class="btn btn-small">тесттер</a>
    <a href="courses/<%= id %>/tests?homework=true" class="btn btn-small">үй тапшырмалары</a>
</div>
