<li><%= link_to "Кабинеттер", rooms_path %></li>
<li><%= link_to "Предметтер", lessons_path %></li>
<li><%= link_to "Даражалар", levels_path %></li>
<li><%= link_to "Группалар", groups_path %></li>
<li><%= link_to "Сабак убактылары", course_times_path %></li>
<li><%= link_to "Мугалимдер", teachers_path %></li>
