<div class="page-header">
  <h1>Password Change</h1>
</div>

<%= form_tag nil, :html => {:class => 'form-horizontal'} %>

<div class="control-group">
  <%= label_tag :password, "Password", :class => 'control-label' %>
  <div class="controls">
    <%= text_field_tag :password, nil, :class => 'text_field' %>
  </div>
</div>
<div class="control-group">
  <%= label_tag :password_confirmation, "Password Confirmation", :class => 'control-label' %>
  <div class="controls">
    <%= text_field_tag :password_confirmation, nil, :class => 'text_field' %>
  </div>
</div>

<div class="form-actions">
  <%= submit_tag "Change", :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
              edit_ort_participant_path(@participant), :class => 'btn' %>
</div>

