<div class="page-header">
  <h1><%= name || '-' %> <%= surname || '-' %></h1>
</div>

<div class="row">
    <div class="span3">
        <dl class="dl-horizontal">
          <dt>Туулган Күнү:</dt>
          <dd><%= birth_date || '-' %></dd>
          <dt>Мектеби:</dt>
          <dd><%= school || '-' %></dd>
          <dt>Телефону:</dt>
          <dd><%= phone || '-' %></dd>
          <dt>Адреси:</dt>
          <dd><%= address || '-' %></dd>
          <dt>Группасы:</dt>
          <dd><%= group.get('name') %></dd>
        </dl>
    </div>
    <div class="span3 offset2">
        <dl class="dl-horizontal">
          <dt>Акыбалы:</dt>
          <dd><%= active ? "актив" : "пассив" %></dd>
          <dt>Курстун наркы:</dt>
          <dd><%= group.get('price') || '-' %></dd>
          <dt>Учурдагы ай:</dt>
          <dd><%= ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"][today_month-1] %></dd>
          <dt>Учурда төлөөгө:</dt>
          <dd id="to_pay"></dd>
          <dt>Жеңилдетүү:</dt>
          <dd><%= discount || 0 %></dd>
          <dt>Төлөмү:</dt>
          <dd id="payed"></dd>
          <dt>Карызы:</dt>
          <dd id="debt">0</dd>
          <dt>Ашыкча төлөм:</dt>
          <dd id="loan">0</dd>
        </dl>
    </div>
</div>

