<% if (ur == "administrator") { %>
    <td><a href="#/<%= group_id %>/students/<%= id %>"><%= name %></td>
<% } else { %>
    <td><a href="#/<%= id %>"><%= name %></td>
<% } %>

<td><%= surname %></td>
<td><%= birth_date %></td>
<td><%= school %></td>
<td><%= phone %></td>
<td><%= address %></td>

<%= show_group ? "<td>" + group + "</td>" : "" %>

<% if (ur == "administrator") { %>
    <td><a href="#/<%= group_id %>/students/<%= id %>/edit" class="btn btn-mini">Edit</a></td>
    <td><a href="#/<%= group_id %>/students/<%= id %>/destroy" class="btn btn-mini btn-danger destroy">Destroy</a></td>
<% } %>

