<% if (group) { %>
    <td><a href="#/<%= group.get('id') %>/students/<%= id %>"><%= name %></td>
<% } else { %>
    <td><a href="#/<%= id %>"><%= name %></td>
<% } %>

<td><%= surname %></td>
<td><%= birth_date %></td>
<td><%= school %></td>
<td><%= phone %></td>
<td><%= address %></td>

<%= (group) ? "" : "<td>" + group_name + "</td>" %>

<% if (group) { %>
    <% if (ur == 'ad') { %>
        <td><a href="#/<%= group.get('id') %>/students/<%= id %>/edit" class="btn btn-mini">өзгөртүү</a></td>
        <td><a href="#/<%= group.get('id') %>/students/<%= id %>/destroy" class="btn btn-mini btn-danger destroy">өчүр</a></td>
    <% } else { %>
        <td><a href="#/<%= group.get('id') %>/students/<%= id %>/discount" class="btn btn-mini">жеңилдетүү</a></td>
    <% } %>
<% } %>

