<%= form_for @exam, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :cost, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :cost, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :exam_type1_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :exam_type1_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :exam_type2_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :exam_type2_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :exam_type3_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :exam_type3_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :exam_type4_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :exam_type4_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :exam_type5_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :exam_type5_id, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                ort_exams_path, :class => 'btn' %>
  </div>
<% end %>
