<div class="page-header">
  <h1><%= name + " " + surname %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Телефон номери:</strong></dt>
  <dd><%= phone || '-' %></dd>
  <dt><strong>Адреси:</strong></dt>
  <dd><%= address || '-' %></dd>
  <dt><strong>Сабагы:</strong></dt>
  <dd><%= lesson %></dd>
</dl>

<div class="form-actions">
    <a href="#/index" class="btn btn-small">Мугалимдер</a>
    <a href="#/<%= id %>/edit" class="btn btn-small">өзгөртүү</a>
    <a href="#/<%= id %>/destroy" class="btn btn-small btn-danger destroy">өчүр</a>
    &nbsp;
    <% if (ur=='ac' || ur=='dr' || ur=='gd') { %>
        <a href="#/<%= id %>/expenses/index" class="btn btn-small btn-primary">айлык төлөмдөрү</a>
    <% } %>
</div>
