<%= form_for(@ort_exam_type) do |f| %>
  <% if @ort_exam_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ort_exam_type.errors.count, "error") %> prohibited this ort_exam_type from being saved:</h2>

      <ul>
      <% @ort_exam_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :cost %><br />
    <%= f.text_field :cost %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
