<h1>Listing ort_exam_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Cost</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ort_exam_types.each do |ort_exam_type| %>
  <tr>
    <td><%= ort_exam_type.name %></td>
    <td><%= ort_exam_type.cost %></td>
    <td><%= link_to 'Show', ort_exam_type %></td>
    <td><%= link_to 'Edit', edit_ort_exam_type_path(ort_exam_type) %></td>
    <td><%= link_to 'Destroy', ort_exam_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Exam type', new_ort_exam_type_path %>
