<%- model_class = Ort::ExamType -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= "ID" %></th>
      <th><%= "Name" %></th>
      <th><%= "Cost" %></th>
      <th><%= "Created At" %></th>
      <th><%= "Actions" %></th>
    </tr>
  </thead>
  <tbody>
    <% @exam_types.each do |exam_type| %>
      <tr>
        <td><%= link_to exam_type.id, ort_exam_type_path(exam_type) %></td>
        <td><%= exam_type.name %></td>
        <td><%= exam_type.cost %></td>
        <td><%=l exam_type.created_at, :format => :short %></td>
        <td>
          <%= link_to "show", ort_exam_type_path(exam_type), :class => 'btn btn-mini' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_ort_exam_type_path(exam_type), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      ort_exam_type_path(exam_type),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_ort_exam_type_path,
            :class => 'btn btn-primary' %>
