<div class="page-header">
  <h1>Группа</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Аталышы:</strong></dt>
  <dd><%= name || '-' %></dd>
  <dt><strong>Даражасы:</strong></dt>
  <dd><%= level %></dd>
  <dt><strong>Наркы:</strong></dt>
  <dd><%= price %></dd>
  <dt><strong>Башталышы:</strong></dt>
  <dd><%= started_at %></dd>
</dl>

<div class="form-actions">
    <a href="#/index" class="btn btn-small">Группалар</a>
    <a href="#/<%= id %>/edit" class="btn btn-small">Өзгөртүү</a>
    <% if (active) { %>
        <span id="deactivate_group" class="btn btn-small btn-danger">Пассив кылуу</span>
    <% } else { %>
        <span id="activate_group" class="btn btn-small btn-primary">Активдерштирүү</span>
    <% } %>
    <a href="#/<%= id %>/destroy" class="btn btn-small btn-danger destroy">Өчүр</a>
</div>
