<td><a href="#/<%= id %>"><%= name %></a></td>
<td><%= course_name %></td>
<td><%= group_name %></td>
<td><%= test_date %></td>

<td>
    <a href="#/<%= id %>/edit" class="btn btn-small">өзгөртүү
    <a href="#/<%= id %>/destroy" class="btn btn-small btn-danger destroy">өчүр</a>
</td>

