<td><a href="#/<%= id %>"><%= name %></a></td>
<td><%= note %></td>

<td><a href="#/<%= id %>/edit" class="btn btn-mini">өзгөртүү</td>
<td><a href="#/<%= id %>/destroy" class="btn btn-mini btn-danger destroy">өчүр</a></td>