<div class="row">
  <div class="span9">
    <div class="well">
      <%= form_tag do %>
          <legend>Кайсы убакыт боюнча</legend>

          <div class="row">
            <div class="span3">
              <input type="radio" name="period" value="time_range" <%= "checked" if params[:period] == 'time_range' || params[:period].nil? %>>
                <b>Период боюнча</b>
              </input>
              <br/><br/>
              <%= label_tag :start_date, "Башкы Дата" %>
              <%= text_field_tag :start_date, @start_date, :class => "input-small" %>
              <%= label_tag :end_date, "Аякыркы Дата" %>
              <%= text_field_tag :end_date, @end_date, :class => "input-small" %>
            </div>
            <div class="span3">
              <input type="radio" name="period" value="month" <%= "checked" if params[:period] == 'month' %>>
                <b>Ай боюнча</b>
              </input>
              <br/><br/>
              <%= label_tag :month_year, "Жылды жазыңыз" %>
              <%= text_field_tag :month_year, @month_year || Date.today.year, :class => "input-small" %>
              <%= label_tag :month_month, "Айды жазыңыз" %>
              <%= text_field_tag :month_month, @month_month || Date.today.month, :class => "input-small" %>
            </div>
            <div class="span2">
              <%= submit_tag "Көрсөт", :class => "btn btn-large btn-primary" %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>

<br/>
<%- total_in = total_out = 0 %>


<table class="table table-bordered table-hover">
  <tr>
    <td colspan="2"><h3>Кирешелер</h3></td>
  </tr>
  <tr>
    <td colspan="2" style="text-align: center"><strong>Окуучулар</strong></td>
  </tr>
  <% @payments[:students].each do |sp| total_in += sp.amount %>
    <tr>
      <td><%= sp.student_name %></td>
      <td><%= sp.amount %></td>
    </tr>
  <% end %>
  <tr>
    <td colspan="2" style="text-align: center"><strong>ОРТ текшерүү тест</strong></td>
  </tr>
  <tr>
    <td colspan="2" style="text-align: center"><strong>Киреше Булактары</strong></td>
  </tr>
  <% @payments[:sources].each do |sp| total_in += sp.amount %>
      <tr>
        <td><%= sp.source_name %></td>
        <td><%= sp.amount %></td>
      </tr>
  <% end %>
  <tr>
    <td>Бардыгы</td>
    <td><strong><%= total_in %></strong></td>
  </tr>
  <tr>
    <td colspan="2" style="text-align: center"><strong>Башка Кирешелер</strong></td>
  </tr>
  <% @payments[:others].each do |sp| total_in += sp.amount %>
      <tr>
        <td><%= sp.note.to_s.slice(0, 15) %></td>
        <td><%= sp.amount %></td>
      </tr>
  <% end %>
  <tr>
    <td colspan="2"><h3>Чыгашалар</h3></td>
  </tr>
  <tr>
    <td colspan="2" style="text-align: center"><strong>Мугалим айлык акылары</strong></td>
  </tr>
  <% @expenses[:teachers].each do |sp| total_out += sp.amount %>
      <tr>
        <td><%= sp.teacher_name %></td>
        <td><%= sp.amount %></td>
      </tr>
  <% end %>
  <tr>
    <td colspan="2" style="text-align: center"><strong>Чыгаша Булактар</strong></td>
  </tr>
  <% @expenses[:holes].each do |sp| total_out += sp.amount %>
      <tr>
        <td><%= sp.hole_name %></td>
        <td><%= sp.amount %></td>
      </tr>
  <% end %>
  <tr>
    <td colspan="2" style="text-align: center"><strong>Башка Чыгашалар</strong></td>
  </tr>
  <% @expenses[:others].each do |sp| total_out += sp.amount %>
      <tr>
        <td><%= sp.note.to_s.slice(0, 15) %></td>
        <td><%= sp.amount %></td>
      </tr>
  <% end %>
  <tr>
    <td>Бардыгы</td>
    <td><strong><%= total_out %></strong></td>
  </tr>
</table>
