<%= form_for @cheque, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :participant_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :participant_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :exam_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :exam_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :mark1, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :mark1, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :mark2, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :mark2, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :mark3, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :mark3, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :mark4, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :mark4, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :mark5, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :mark5, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                ort_cheques_path, :class => 'btn' %>
  </div>
<% end %>
