<%- model_class = Ort::Cheque -%>
<div class="page-header">
  <h1><%= t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human,
                                    :default => "New #{model_class.model_name.human}") %></h1>
</div>

<%= form_for @cheque, :html => {:class => 'form-horizontal'} do |f| %>
    <div class="control-group">
      <%= f.label :participant, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :participant, :class => 'text_field' %>
      </div>
    </div>


    <div class="control-group">
      <%= label_tag :exam_name, "Exam Name", :class => 'control-label' %>
      <div class="controls">
        <%= text_field_tag :exam_name, params[:exam_name], :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= label_tag :exam_date, "Exam Date", :class => 'control-label' %>
      <div class="controls">
        <%= text_field_tag :exam_date, params[:exam_date], :class => 'text_field' %>
      </div>
    </div>


    <div class="control-group">
      <%= label_tag :payment_amount, "Payed Amount", :class => 'control-label' %>
      <div class="controls">
        <%= text_field_tag :payment_amount, params[:payment_amount], :class => 'text_field' %>
      </div>
    </div>


    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  ort_participants_path, :class => 'btn' %>
    </div>
<% end %>

