<%- model_class = Ort::Cheque -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Participant:</strong></dt>
  <dd><%= link_to @cheque.participant.name, @cheque.participant %></dd>
  <dt><strong>Exam:</strong></dt>
  <dd><%= link_to "#{@cheque.exam.name} (#{@cheque.exam.start_date})", @cheque.exam %></dd>
  <dt><strong>Mark:</strong></dt>
  <dd><%= @cheque.mark || "-" %></dd>
  <dt><strong>Paid:</strong></dt>
  <dd><%= @cheque.total_paid %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              get_cheque_path(:index), :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              get_path(:cheque, :edit, @cheque), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              get_path(:cheque, :show, @cheque),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
  &nbsp;
  <%= link_to "Payment", ort_cheque_payments_path(@cheque), :class => 'btn' %>
  <%= link_to "Add Payment", new_ort_cheque_payment_path(@cheque), :class => 'btn' %>
  &nbsp;
  <%= link_to "Another Enrollment", get_path(:cheque, :new), :class => 'btn' %>
</div>
