<div class="page-header">
  <h1>Киреше</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Сумма:</strong></dt>
  <dd><%= amount %></dd>
  <dt><strong>Киреше Булагы:</strong></dt>
  <dd><%= source %></dd>
  <dt><strong>Башка:</strong></dt>
  <dd><%= note %></dd>
</dl>

<div class="form-actions">
    <a href="#/index" class="btn btn-small">Кирешелер</a>
    <a href="#/<%= id %>/edit" class="btn btn-small">Өзгөртүү</a>
    <a href="#/<%= id %>/destroy" class="btn btn-small btn-danger destroy">Өчүр</a>
</div>
