<p id="notice"><%= notice %></p>

<p>
  <b>Group:</b>
  <%= @course.group_id %>
</p>

<p>
  <b>Lesson:</b>
  <%= @course.lesson_id %>
</p>

<p>
  <b>Course time:</b>
  <%= @course.course_time_id %>
</p>

<p>
  <b>Teacher:</b>
  <%= @course.teacher_id %>
</p>

<p>
  <b>Room:</b>
  <%= @course.room_id %>
</p>

<p>
  <b>Branch:</b>
  <%= @course.branch_id %>
</p>

<p>
  <b>Monday:</b>
  <%= @course.monday %>
</p>

<p>
  <b>Tuesday:</b>
  <%= @course.tuesday %>
</p>

<p>
  <b>Wednesday:</b>
  <%= @course.wednesday %>
</p>

<p>
  <b>Thursday:</b>
  <%= @course.thursday %>
</p>

<p>
  <b>Friday:</b>
  <%= @course.friday %>
</p>

<p>
  <b>Saturday:</b>
  <%= @course.saturday %>
</p>

<p>
  <b>Sunday:</b>
  <%= @course.sunday %>
</p>


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
