<td><%= branch_id %></td>
<td><%= student_id %></td>
<td><%= course_id %></td>
<td><%= attended %></td>
<td><%= percentage %></td>

<td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>