<h1>New attendance</h1>

<form id="new-attendance" name="attendance">
  <div class="field">
    <label for="branch_id"> branch_id:</label>
    <input type="text" name="branch_id" id="branch_id" value="<%= branch_id %>" >
  </div>

  <div class="field">
    <label for="student_id"> student_id:</label>
    <input type="text" name="student_id" id="student_id" value="<%= student_id %>" >
  </div>

  <div class="field">
    <label for="course_id"> course_id:</label>
    <input type="text" name="course_id" id="course_id" value="<%= course_id %>" >
  </div>

  <div class="field">
    <label for="attended"> attended:</label>
    <input type="text" name="attended" id="attended" value="<%= attended %>" >
  </div>

  <div class="field">
    <label for="percentage"> percentage:</label>
    <input type="text" name="percentage" id="percentage" value="<%= percentage %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Attendance" />
  </div>

</form>

<a href="#/index">Back</a>