<p>
  <b>Branch:</b>
  <%= branch_id %>
</p>

<p>
  <b>Student:</b>
  <%= student_id %>
</p>

<p>
  <b>Course:</b>
  <%= course_id %>
</p>

<p>
  <b>Attended:</b>
  <%= attended %>
</p>

<p>
  <b>Percentage:</b>
  <%= percentage %>
</p>


<a href="#/index">Back</a>