<%- model_class = Ort::Payment -%>
<div class="page-header">
  <h1><%=t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human,
                                   :default => "Edit #{model_class.model_name.human}") %></h1>
</div>


<dl class="dl-horizontal">
  <dt><strong>Participant:</strong></dt>
  <dd><%= @payment.participant.name %></dd>
  <dt><strong>Exam:</strong></dt>
  <dd><%= "#{@payment.exam.name} (#{@payment.exam.start_date})" %></dd>
</dl>

<%= form_for @payment, :html => {:class => 'form-horizontal'} do |f| %>
    <%= hidden_field_tag :participant_id, @participant.id, :class => 'hidden_field' if @participant %>
    <%= hidden_field_tag :exam_id, @exam.id, :class => 'hidden_field' if @exam %>
    <div class="control-group">
      <%= f.label :amount, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :amount, :class => 'text_field' %>
      </div>
    </div>


    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  get_path(:payment, :index), :class => 'btn' %>
    </div>
<% end %>