<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @test.name %>
</p>

<p>
  <b>Test date:</b>
  <%= @test.test_date %>
</p>

<p>
  <b>Homework:</b>
  <%= @test.homework %>
</p>

<p>
  <b>Course:</b>
  <%= @test.course_id %>
</p>


<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
