<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Secom" %></title>
  <%= csrf_meta_tags %>

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
  <![endif]-->

  <%= stylesheet_link_tag "application", :media => "all" %>
</head>
<body>

<%- if current_user %>
    <script type="text/javascript">
        ur = "<%= current_user.role %>"
        today = "<%= Date.today %>"
        today_day = "<%= Date.today.day %>"
        today_month = "<%= Date.today.month %>"
        today_year = "<%= Date.today.year %>"
    </script>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <div class="container nav-collapse">
            <ul class="nav">

              <%- if is_ort? %>
                  <li><%= link_to "Exam Types", "/ort/exam_types" %></li>
                  <li><%= link_to "Exams", "/ort/exams" %></li>
                  <li><%= link_to "Participants", "/ort/participants" %></li>
                  <li><%= link_to "Payments", "/ort/payments" %></li>
              <%- else %>
                  <%- if ['gd', 'dr', 'ac'].include? current_user.role %>
                      <li><%= link_to "Финансылык отчет", reports_funds_path %></li>
                  <%- end %>
                  <li><%= link_to "Расписание", reports_timetable_path %></li>
              <%- end %>

            </ul>
            <ul class="nav" style="float:right;">
              <li style="float: right;">
                Колдонуучу:  <%= current_user.name %>
                <%= link_to "Чыгуу",
                            destroy_session_path(:user), :method => :delete, :class => "btn btn-mini",
                            :style => "padding-top:0;padding-bottom:0;padding-left:6;padding-right:6;" %>
              </li>
            </ul>
          </div>
          <!--/.nav-collapse -->
        </div>
      </div>
    </div>
<%- end %>

<div class="container">
  <div class="row">
    <div class="span3">
      <%= link_to image_tag("secom-logo.png", :style => "padding:10px;"), root_path %>

      <!-- Menus -->
      <%- if is_ort? %>
          <ul class="nav nav-tabs nav-stacked affix">
            <%- if current_user %>
                <li class="nav-header">Exams</li>
                <li><%= link_to "Start new exam", "/ort/exams/new" %></li>
                <li><%= link_to "Enroll participant for an exam", "/ort/cheques/new" %></li>
                <li class="nav-header">Payments</li>
                <li><%= link_to "New payment", "/ort/payments/new" %></li>
                <li><%= link_to "Payment history", "/ort/payments" %></li>
                <!--/.well -->
            <%- else %>
                <li><%= link_to t("ORT Results"), "/ort_results" %></li>
            <%- end %>
          </ul>
      <%- else %>
          <%- if current_user %>
              <ul class="nav nav-tabs nav-stacked affix">
                <li class="nav-header">Меню</li>
                <%= render :partial => "menus/#{current_user.role}" %>
              </ul>
          <%- end %>
      <%- end %>
    </div>
    <!--/span-->
    <div class="span9">
      <%= bootstrap_flash %>
      <%= yield %>
    </div>
  </div>
  <!--/row-->

  <br/><br/>
</div>
<!-- /container -->

<!-- Javascripts
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<%= javascript_include_tag "application" %>

</body>
</html>
